name: Windows Build Release

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: stable
        architecture: x64

    - name: Enable Windows Support
      run: flutter config --enable-windows-desktop

    - name: Install Dependencies
      run: flutter pub get

    - name: Build Windows Release
      run: flutter build windows --release

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: windows-app-release
        path: build/windows/x64/runner/Release/
